<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OpenVPN Proxy</title>
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider/dist/bulma-divider.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
  <script src="./utils/component-load.js"></script>
  <style>
    .tooltip {
      position: relative;
      display: inline-block;
    }

    /* Tooltip text */
    .tooltip .tooltip-text {
      visibility: hidden;
      width: auto;
      background-color: black;
      color: white;
      text-align: center;
      padding: 8px;
      border-radius: 4px;
      opacity: 0.8;
      /* Set opacity */
      position: absolute;
      bottom: -35px;
      /* Position below the button */
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      /* Prevent line break */
      z-index: 1;
      font-size: 14px;
      pointer-events: none;
    }

    /* Show the tooltip when hovering over the tooltip container */
    .tooltip:hover .tooltip-text {
      visibility: visible;
    }
  </style>
</head>

<body>
  <div class="box container mt-5">
    <div id="app">
    </div>
    <div id="modal"></div>
  </div>

  <script>
    Vue.createApp({
      template: `
        <section class="section">
          <div class="container">
            <h1 class="title">OpenVPN Proxy</h1>

            <!-- Tabs -->
            <div class="tabs is-boxed">
              <ul>
                <li :class="{ 'is-active': currentTab === 'config' }">
                  <a @click="currentTab = 'config'">Proxy Config</a>
                </li>
                <li :class="{ 'is-active': currentTab === 'servers' }">
                  <a @click="currentTab = 'servers'">OpenVPN Servers</a>
                </li>
              </ul>
            </div>

            <!-- OpenVPN Proxy Config -->
            <div v-if="currentTab === 'config'">
              <div class="columns">
                <div class="container column">
                  <div class="container box" style="height: 100%;">
                    <form>
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">VPN</label>
                        </div>
                        <div class="field-body">
                          <div class="field control">
                            <basic
                              type="switch"
                              v-model:value="openvpn.config.enabled"
                              @update:value="toggleModule('vpn')">
                            </basic>
                          </div>
                        </div>
                      </div>
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Http Proxy</label>
                        </div>
                        <div class="field-body">
                          <div class="field control">
                            <basic
                              type="switch"
                              v-model:value="http_proxy.config.enabled"
                              @update:value="toggleModule('http_proxy')">
                            </basic>
                          </div>
                        </div>
                      </div>
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Socks Proxy</label>
                        </div>
                        <div class="field-body">
                          <div class="field control">
                            <basic
                              type="switch"
                              v-model:value="socks_proxy.config.enabled"
                              @update:value="toggleModule('socks_proxy')">
                            </basic>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="divider">Common Config</div>
                      </div>
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">LAN Subnets</label>
                        </div>
                        <div class="field-body">
                          <div class="field control is-fullwidth">
                            <inline-list
                              :name="'Subnet'"
                              v-model:entries="global.config.subnets"
                              type="subnet"
                              @update:entries="setModified('global')">
                            </inline-list>
                          </div>
                        </div>
                      </div>
                      <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">VPN Type</label>
                        </div>
                        <div class="field-body">
                          <div class="field">
                            <div class="control select is-fullwidth">
                              <select v-model="global.config.vpnType" @change="setModified('global')">
                                <option v-for="vpnType in global.config.vpnTypes"
                                  :key="vpnType"
                                  :value="vpnType"
                                  :selected="vpnType === 'openvpn'">
                                    {{ vpnType }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-if="global.config.vpnType === 'openvpn'">
                        <div>
                          <div class="divider">VPN Config</div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">OpenVPN Provider</label>
                          </div>
                          <div class="field-body">
                            <div class="field">
                              <div class="control select is-fullwidth">
                                <select v-model="openvpn.config.serverName" @change="setModified('openvpn')">
                                  <option v-for="server in openvpn.servers"
                                    :key="server.name"
                                    :value="server.name"
                                    :selected="server.name === openvpn.config.serverName">
                                      {{ server.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="field is-horizontal">
                          <div class="field-label is-normal">
                            <label class="label">Server Endpoint</label>
                          </div>
                          <div class="field-body">
                            <div class="field control select is-fullwidth">
                              <select v-model="openvpn.config.serverEndpoint" @change="setModified('openvpn')">
                                <option v-for="endpoint in endpoints"
                                  :key="endpoint.name"
                                  :value="endpoint.name"
                                  :selected="endpoint.name === openvpn.config.serverEndpoint">
                                  {{ endpoint.name }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="mt-4 buttons">
                      <button class="button is-success mx-auto" @click="saveConfig" :disabled="!isModified">Save</button>
                    </div>
                  </div>
                </div>
                <div class="container column">
                  <div class="container box" style="height: 100%;">
                    <div class="level">
                      <div class="level-left">
                        <h3 class="title is-4">IP Info</h3>
                      </div>
                      <!-- <div class="level-right">
                        <div class="buttons">
                          <div class="tooltip">
                            <button v-if="!openvpn.status" class="button is-small is-success" @click="vpnCommand('start')">
                              <span class="icon">
                                <i class="fas fa-play"></i>
                              </span>
                            </button>
                            <span class="tooltip-text">Start OpenVPN Server</span>
                          </div>
                          <div class="tooltip">
                            <button v-if="openvpn.status" class="button is-small is-warning" @click="vpnCommand('stop')">
                              <span class="icon">
                                <i class="fas fa-stop"></i>
                              </span>
                            </button>
                            <span class="tooltip-text">Stop OpenVPN Server</span>
                          </div>
                          <div class="tooltip">
                            <button v-if="openvpn.status" class="button is-small is-info" @click="vpnCommand('restart')">
                              <span class="icon">
                                <i class="fas fa-redo"></i>
                              </span>
                            </button>
                            <span class="tooltip-text">Restart OpenVPN Server</span>
                          </div>
                          <div class="tooltip">
                            <button v-if="openvpn.status" class="button is-small is-light" @click="refreshInfo">
                              <span class="icon">
                                <i class="fas fa-sync-alt"></i>
                              </span>
                            </button>
                            <span class="tooltip-text">Refresh Status</span>
                          </div>
                        </div>
                      </div> -->
                    </div>
                    <div v-if="ipInfo">
                      <div class="container">
                        <div class="columns">
                          <div class="column is-3 has-text-weight-bold">IP Address:</div>
                          <div class="column" id="ip">{{ ipInfo.ip }}</div>
                        </div>

                        <div class="columns">
                          <div class="column is-3 has-text-weight-bold">Organization:</div>
                          <div class="column" id="org">{{ ipInfo.org }}</div>
                        </div>

                        <div class="columns">
                          <div class="column is-3 has-text-weight-bold">Location:</div>
                          <div class="column" id="location">{{ ipInfo.city }}, {{ ipInfo.country }}</div>
                        </div>

                        <div class="columns">
                          <div class="column is-3 has-text-weight-bold">Timezone:</div>
                          <div class="column" id="timezone">{{ ipInfo.timezone }}</div>
                        </div>
                      </div>
                      <!-- Map Display -->
                      <location-map class="mt-4"
                        v-model:latitude="ipInfo.loc.split(',')[0]"
                        v-model:longitude="ipInfo.loc.split(',')[1]"
                        v-model:city="ipInfo.city">
                      </location-map>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Servers Tab -->
            <div v-if="currentTab === 'servers'" class="box">
              <list-editor
                :name="'OpenVPN Servers'"
                :list="openvpn.servers"
                :editItem="editServer"
                :addItem="editServer"
                :removeItem="deleteServer"
                :displayString="serversDisplayString"
                >
              </list-editor>
            </div>
          </div>
        </section>`,
      data() {
        return {
          currentTab: 'config',
          ipInfo: null,
          openvpn: {
            status: false,
            modified: false,
            config: {
              enabled: false,
              serverName: '',
              serverEndpoint: '',
              logLevel: 3,
              retryInterval: 3600,
            },
            servers: [],
          },
          http_proxy: {
            status: false,
            config: {
              enabled: false,
            }
          },
          socks_proxy: {
            status: false,
            config: {
              enabled: false,
            }
          },
          global: {
            modified: false,
            config: {
              vpnType: 'openvpn',
              vpnTypes: ['openvpn', 'wireguard'],
              subnets: [],
              proxyUsername: '',
              proxyPassword: '',
            }
          }
        }
      },
      components: {
        'list-editor': Vue.defineAsyncComponent(() => import('./utils/list-editor.js')),
        'basic': Vue.defineAsyncComponent(() => import('./utils/basic-input.js')),
        'inline-list': Vue.defineAsyncComponent(() => import('./utils/inline-list.js')),
        'location-map': Vue.defineAsyncComponent(() => import('./utils/location-map.js')),
      },
      methods: {
        async reload() {
          var globalConfig = await fetch('/api/config').then(response => response.json());
          Object.assign(this.global.config, {
            vpnType: globalConfig.vpnType || 'openvpn',
            subnets: globalConfig.subnets || [],
          })
          this.global.modified = false;

          var openVPNConfig = await fetch('/api/openvpn/config').then(response => response.json());
          Object.assign(this.openvpn.config, {
            enabled: openVPNConfig.enabled || false,
            serverName: openVPNConfig.serverName || '',
            serverEndpoint: openVPNConfig.serverEndpoint || '',
            logLevel: openVPNConfig.logLevel || 3,
            retryInterval: openVPNConfig.retryInterval || 3600,
          })
          var httpProxyConfig = await fetch('/api/http_proxy/config').then(response => response.json());
          Object.assign(this.http_proxy.config, {
            enabled: httpProxyConfig.enabled || false,
          })
          var socksProxyConfig = await fetch('/api/socks_proxy/config').then(response => response.json());
          Object.assign(this.socks_proxy.config, {
            enabled: socksProxyConfig.enabled || false,
          })
          this.openvpn.servers = await fetch('/api/openvpn/servers').then(response => response.json());
          this.openvpn.modified = false;
        },
        editServer: function (index) {
          injectComponent({
            elementId: "modal",
            name: 'edit-server',
            source: './config/edit-server.js',
            data: {
              server: index !== undefined ? this.openvpn.servers[index] : {},
              showOnLoad: true
            },
            methods: {
              save: (data) => {
                fetch('/api/openvpn/servers/save', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify(data)
                }).then(() => {
                  this.reload();
                });
              }
            }
          });
        },
        deleteServer: function (index) {
          fetch(`/api/openvpn/servers/delete/${this.openvpn.servers[index].name}`, {
            method: 'DELETE'
          })
            .then(() => this.reload());
        },
        serversDisplayString: function (server) {
          return server.name;
        },
        vpnCommand: function (cmd) {
          fetch(`/api/openvpn/${cmd}`, {
            method: 'POST',
          });
        },
        toggleModule: function (module) {
          if (module === 'vpn') {
            module = 'openvpn';
          }
          var cmd = this[module].config.enabled ? 'enable' : 'disable';
          var now = this[module].config.enabled ? 'start' : 'stop';
          fetch(`/api/${module}/${cmd}?${now}=true`, {
            method: 'POST',
          });
        },
        setModified: function (what) {
          this[what].modified = true;
        },
        saveConfig: function (module) {
          if (this.openvpn.modified) {
            fetch(`/api/openvpn/config/save`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(this.openvpn.config)
            });
          }
          if (this.global.modified) {
            fetch(`/api/config/save`, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(this.global.config)
            });
          }
        },
        refreshInfo: function () {
          try {
            fetch('/api/openvpn/status').then(response => response.json()).then(data => {
              this.vpnStatus = data;
              this.ipInfo = data.info;
            });
          } catch (error) {
            // console.log(error);
          }
        }
      },
      computed: {
        endpoints: function () {
          for (const server of this.openvpn.servers) {
            if (server.name === this.openvpn.config.serverName) {
              return server.endpoints;
            }
          }
          return [];
        },
        isModified: function () {
          return this.openvpn.modified || this.global.modified;
        }
      },
      mounted() {
        this.reload();
        this.refreshInfo();
        setInterval(() => {
          this.refreshInfo();
        }, 60000);
      }
    }).mount('#app')
  </script>
</body>

</html>